/*тут будуть властивості, які повторюються у всіх секціях*/

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .container-nav {
        /*outline: 1px solid red;*/
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        height: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px;
        padding-bottom: 60px
    }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    .container-nav {
        /*outline: 1px solid red;*/
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        padding-bottom: 70px;
        /*outline: 1px solid red;*/
    }
}

@media screen and (min-width: 1600px) {
    .container-nav {
        /* outline: 1px solid red;*/
        width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        height: 80px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
       /* outline: 1px solid red;*/
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 94px;
        padding-bottom: 94px;
        margin: 0 auto;
    }
}


.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #565656;
    display: inline-block;
    border-radius: 50%;
}
 .active,
.dot:hover{
    background-color: #4528dc;
}

.mySlides{
    display: none;
}
