/* тут будуть властивості для nav */


@media screen and (max-width: 767px){
    .logo{
        color: #ffffff;

        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.06em;


        margin-top: 0;
        margin-bottom: 0;
    }
}
@media screen and  (max-width: 1599px){
    .logo-app{
        font-weight: 400;
        font-style: italic   ;
    }
}

@media screen and (min-width: 767px) and (max-width: 1599px){
.logo{
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 0;
}

}
@media screen and (min-width: 1600px){
    .logo{
        color: #ffffff;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.06em;

        margin-top: 0;
        margin-bottom: 0;
    }
}
.logo-app{
    font-weight: 400;
font-style: italic;
}

@media screen and (max-width: 767px) {
    .list-item{
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
} 
@media screen and (max-width: 1599px){
    
.nav-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: end;

}
.nav-list-li{
    margin-bottom: 4px;
}

}

@media screen and (min-width: 1600px){
    .nav-list{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        display: flex;
        align-items: center;
    }
    .nav-list-li{
        margin-right: 46px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1599px){
    .list-item{
        color:#ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1600px){
    .list-item{
        color:#ffffff;
        font-weight: 500;
        font-size: 18px;
 line-height: 21px;
    }
    
}